<center>

<form action="/savecontact" method="post">

    Contact ID <input type="text" name="id">

    <br>

    Contact Name <input type="text" name="name">

    <br>

    Contact Number <input type="text" name="number">

    <br>

    <input type="Submit">
    
</form>

</center>