
<link rel="stylesheet" href="css/style.css">

<center>

<form action="/savecontact" method="post">

<table>
   <tr>

   <td><label> Contact ID: </label></td> 
   
   <td><input type="text" name="id"></td>

   </tr>
   <tr>

    <td><label> Contact Name: </label></td>
    
    <td><input type="text" name="name"></td>

    </tr>
    <tr>

    <td><label> Contact Number: </label></td>
    
    <td><input type="text" name="number"></td>

    </tr>

    </table>

    <input type="Submit">
    
</form>

</center>